<%- include('./header.include.ejs') %>

<% if (customer.invoice_settings.default_payment_method) { %>
  <h2>Current Payment Method</h2>
  <pre><%- JSON.stringify(customer.invoice_settings.default_payment_method, null, 2) %></pre>
<% } %>

<h2><%= customer.invoice_settings.default_payment_method ? 'Edit' : 'Add' %> Payment Method</h2>

<form id="payment-form">
  <div id="payment-element"></div>
  <button type="submit" class={className}>
    Submit
  </button>
  <div id="payment-error"></div>
</form>

<script>
const clientSecret = <%- JSON.stringify(setupIntent.client_secret) %>
const publishableKey = <%- JSON.stringify(stripePublishableKey) %>

const stripe = Stripe(publishableKey, { stripeAccount: <%- JSON.stringify(stripeAccount) %> })
const elements = stripe.elements({ clientSecret })
const paymentElement = elements.create('payment')
paymentElement.mount('#payment-element')

const submitPaymentForm = async (e) => {
  e.preventDefault()
  const {error} = await stripe.confirmSetup({
    elements,
    confirmParams: {
      return_url: new URL('/attach-payment-method', location.href).href,
    },
  })
  if (error) {
    document.getElementById('payment-error').innerHTML = error.message
  }
}
const form = document.getElementById('payment-form')
form.addEventListener('submit', submitPaymentForm)
</script>

