<%- include('./header.include.ejs') %>

<% if (plan) { %>
<p>Current Plan: <%= plan %></p>
<% } %>

<table border=1 cellpadding=10>
<tr><%
for (const plan of plans) {
  %>
  <th>
    <h2><%= plan.id %></h2>
    <p><%= plan.title %></p>
  </th>
  <%
}
%></tr>

<tr><%
// show the features for each plan.
for (const plan of plans) {
  %>
  <td style="vertical-align:top">
  <%
  for (const [fid, feature] of Object.entries(plan.features)) {
    if (!feature.tiers || !feature.tiers.length) {
      continue
    }
    %>
    <h3><%= feature.title || fid %></h3>
    <%
    for (let i = 0; i < feature.tiers.length; i ++) {
      const {price, base, upto:_upto} = feature.tiers[i]
      const upto = _upto === undefined || _upto > Number.MAX_SAFE_INTEGER ? undefined : _upto
      if (!(price === undefined && base === undefined && upto === undefined)) {
        %>
        <div>
          <%=
          upto !== undefined ? `Up to ${upto}: ` : ''
          %><%=
          base ? dollar(base) : ''
          %><%=
          price ? (base ? ', plus' : '') +
            ` ${dollar(price)} per conversion`
            : (base ? '' : ' free')
          %><%=
          i > 0 && !upto ? ', thereafter' : ''
          %>
          <!--<%-
          JSON.stringify(feature.tiers[i], null, 2)
          %>-->
        </div>
        <%
      }
    }
  }
  %>
  </td>
  <%
}
%>
</tr>

<tr>
<%
for (const p of plans) {
  %>
  <td>
  <%
  if (p.id === plan) {
    %>Current Plan<%
  } else {
    %>
    <form action="/plan" method="post">
      <input type="hidden" name="plan" value="<%= p.id %>">
      <input type="submit" value="Choose this plan">
    </form>
    <%
  }
  %>
  </td>
  <%
}
%>
</tr>

</table>
