<%- include('./header.include.ejs') %>
<form action="/signup" method="post">
<div><label>Username: <input type="text" name="user" value="<%= user %>"></label></div>
<div><label>Password: <input type="password" name="pass" value="<%= pass %>"></label></div>
<div><input type="submit" value="sign in"></div>
</form>
<div><a href="/login">Already have account?</a></div>
<% if (errors.username) { %>
  <b id="error"><%= errors.username %></b>
<% } else if (errors.password) { %>
  <b id="error"><%= errors.password %></b>
<% } %>
